html {box-sizing:border-box;}
*,* :after, *:before {box-sizing:inherit;}

 body {
 	background-color: black;
 	font-family: arial, sans-serif;
 	
 }
.container {
	margin: auto;
	width: 100%;
	max-width: 1020px;


}

.mainPic {
	background-image: url("main-pic.jpg");
	background-position: -546px -490px;
	background-size: auto;	
	background-repeat: no-repeat; 
	height: 379px;
	margin-top: 26px;
}

.header {
	border: 1px solid black;
	background-image: url("Revel.png");
	background-position: center -165px;	
	background-repeat: no-repeat; 
	height: 186px;

}

.boxes {
	display: flex;
	height: 263px;
	margin-top: 38px;

}

.cats {
	display: flex;
	justify-content: space-between;
	padding-left: 0;
}

.content {
	border: 1px solid black;
	background-color:white;
	list-style: none;
	width: 326px;
	height: 319px;
	margin-right: 21px;
}

.map {

}


.bigDiv {
	background-color:white;
	height: 978px;
	display: flex;
	margin-top: 128px;

}

.tab {
	border: 1px solid black;
	background-color:white;
	display: flex;
	height: 493px;
	width: 623px;

}

.foodPics {
	border: 1px solid black;
	background-color:white;
	display: flex;
	height: 978px;
	width: 397px;

}

.footer {
	border: 1px solid black;
	background-image: url("wood.jpg");
	background-size: cover;	
	background-repeat: no-repeat; 
	height: 150px;
	margin-top: 41px;
	display: flex;

}

#copyright {
	color: white;
	position:relative;
	bottom: -110px;
	right: 576px;
	opacity: 0.5;

}

#revel {
	font-size: 57px; 
	color: maroon; 
	font-weight: bolder;
	font-family: Palatino Linotype;
	position: relative;
	top:24px;
	left: 315px;

}

.icons {
	display: flex;
	position: relative;
	top: 17px;
}
.icon-lbl {
	display: flex;
	margin:13px;
	list-style:none;
	height: 44px;
	opacity: 0.5;
	width: 46px;
	
}

 i {
 	margin: 5px;
 	padding: 5px;
 	font-size: 45px;
 	width: 60px;

}

#facebook > i {
	color: white;
	background-color: rgba(52,67,133,0.6);
	margin:0px;
	border-radius: 3px;
	text-align: center;
	font-size: 33px;

}


#twitter > i{
	color:white;
	background-color: rgba(88,120,187,0.6);
	margin:0px;
	border-radius: 3px;
	text-align: center;
	font-size: 33px;
}

#instagram > i{
	color:white;
	background-color: rgba(161,38,34,0.6);
	margin:0px;
	border-radius: 3px;
	text-align: center;
	font-size: 33px;

}

