html {box-sizing:border-box;}
*,* :after, *:before {box-sizing:inherit;}

 body {
 	background-color: black;
 	font-family: arial, sans-serif;
 }

 ul {
	list-style: none;
}

.container {
	margin: auto;
	width: 100%;
	max-width: 1020px;
}

.header {
	border: 1px solid black;
	background-image: url("Revel.png");
	background-position: center -165px;	
	background-repeat: no-repeat; 
	height: 186px;
}

.mainPic {
	background-image: url("main-pic.jpg");
	background-position: center;
	background-size: cover;	
	background-repeat: no-repeat; 
	height: 379px;
	margin-top: 26px;
}

.boxes {
	display: flex;
	height: 263px;
	margin-top: 38px;
}

.cats {
	display: flex;
	justify-content: space-between;
	padding-left: 0;
}

.content {
	background-color:white;
	list-style: none;
	width: 326px;
	height: 319px;
	margin-right: 21px;
	font-family: Palatino Linotype;
	font-size:12px;
	letter-spacing: 2px;
	color: maroon;
}

.title {
	color: black;
}

#bot {
	border-bottom: 1px solid black;
	margin: 8px;
}

.latest-news {
	list-style: none;
	text-align: center;
	margin:0;
	padding:0;
	font-size:12px;
	color: maroon;
}

.latest-news > h2 {
	margin: 11px;
}



#bottom-news {
	line-height: 20px;
	
}

#bottom-news > div {
	margin: 3px;
	font-size: 11px;
}

.special {
	list-style: none;
	text-align: center;
	margin:0;
	padding:0;
}

#s-img {
	width: 310px;
	height: 200px;
	margin-top: 9px;
}	

#food-desc {
	line-height: 12px;
	font-size: 11px;
}

.bigDiv {
	background-color:white;
	display: flex;
	margin-top: 88px;
	background-color: black;
	margin-left: 10px;

	font-family: Palatino Linotype;
	font-size:14px;
	letter-spacing: 2px;
}

.tab {
	border: 1px solid black;
	background-color:black;
}

#tab1, #tab2 {
	line-height: 1.5;
}

.tabbys {
	padding:20px;
}


.tabList {
	display: flex;
	text-decoration: none;
	background: black;
	height: 50px;
	padding-top: 20px;
	margin-bottom: 0px;
	font-size: 20px;
}

.tabList li a {
	margin: 60px;
	text-decoration: none;
	color: white;
}

.tabList li a:hover {
	text-decoration: underline;
	text-decoration-color: maroon;
}

.tabContainer {
	background-color: black;
	border-top: 4px solid maroon;
	color: white;
	width: 750px;
}

.flex {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
}

#ourMenu {
	font-size: 18px;
	margin-bottom: 20px;
}

.menuLabel {
	font-size: 16px;
	border-bottom: 1px solid maroon;
	width: 700px;
}

#storyPic {
	margin: 20px;
	width: 650px;
}

#top-word {
	font-size:34px;
	color: maroon;
	font-weight: bold;
	margin: 0;
}

#definition {
	font-size: 24px;
	font-weight: bold;

}

#description {
	font-size:19px;

}

#slogan {
	font-size:22px;
	color: maroon;
}

#menu {
	color: white;
}

#appetizername {
	color: white;
}

#formR {
	display: flex;
	flex-direction: column;
	font-size: 17px;
}

#label {
	margin-top: 10px;
	margin-bottom: 10px;
}

#fName {
	width: 350px;
}

#num_Guests {
	width: 100px;
}

#date {
	width: 200px;
}

#sNotes {
	width: 350px;
	height: 100px;
}

#select {
	width: 75px;
	margin: 10px 0px;
}

#reserve {
	width: 150px;
	height: 50px;
	margin: 10px auto;
	background-color: black;
	border: 2px solid maroon;
	color:white;
	font-size: 18px;
	border-radius: 4px;
}

#reserve:hover {
	text-decoration: underline;
	text-decoration-color: maroon;
}

.foodPics {
	border: 1px solid black;
	display: flex;
	width: 397px;
	flex-direction: column;
	margin-left: -10px;
}


.images {
	background-color: black;
	color: white;
	width: 200px;
	margin:10px;
	overflow: hidden;
}

.footer {
	border: 1px solid black;
	background-image: url("wood.jpg");
	background-size: cover;	
	background-repeat: no-repeat; 
	height: 150px;
	margin-top: 41px;
	display: flex;
}

#follow {
	color: white;
	font-size: 19px;
	position: relative;
	top:2px;
	left:66px;
	opacity: 0.5;
}

#copyright {
	color: white;
	position:relative;
	bottom: -119px;
	right: 741px;
	opacity: 0.5;
	font-size: 12px;
}

#revel {
	font-size: 31px; 
	color: maroon; 
	font-weight: bolder;
	font-family: Palatino Linotype;
	position: relative;
	top:62px;
	left: 195px;

}

#keep-tabs {
	color: white;
	font-size:20px;
	position: relative;
	right: 203px;
	opacity: 0.5;
}

.icons {
	display: flex;
	position: relative;
	top: 28px;
	right: 0px;
}
.icon-lbl {
	display: flex;
	margin:13px;
	list-style:none;
	height: 44px;
	opacity: 0.5;
	width: 46px;
	
}



 i {
 	margin: 5px;
 	padding: 5px;
 	font-size: 35px;
 	width: 50px;
}

#facebook > a > i {
	color: white;
	background-color: rgba(52,67,133,0.6);
	margin:0px;
	border-radius: 3px;
	text-align: center;
	font-size: 33px;

}


#twitter > a > i{
	color:white;
	background-color: rgba(88,120,187,0.6);
	margin:0px;
	border-radius: 3px;
	text-align: center;
	font-size: 33px;
}

#youtube > a > i{
	color:white;
	background-color: rgba(161,38,34,0.6);
	margin:0px;
	border-radius: 3px;
	text-align: center;
	font-size: 33px;

}